@import "../scss/global";

nav {
  background-color: #8bc6ec;
  background-image: linear-gradient(315deg, #8bc6ec 0%, #9599e2 100%);

  a {
    color: white !important;
    margin: 20px;
    font-size: 1.3rem;

    &[data-is-active="true"] {
      text-decoration: underline;
      font-weight: 900;
    }
  }
}
